<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>redirect</title>
    <style>
        body {
            background-color: black;
            margin: 0;
            padding: 0;
            font-family: "Poppins" !important;
        }

        .container {
            width: 550px;
            height: 300px;
            border-radius: 12px;
            padding: 40px 14px 20px 14px;
            background-color: #fff;
            margin: 0 auto;
            margin-top: 80px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        svg {
            text-align: center;
            display: block;
        }

        h5 {
            text-align: center;
            font-size: 22px;
            margin-bottom: 13px;
        }

        a {
            text-align: center;
            font-size: 18px;
            color: gray;
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        a:hover {
            color: #198754;
        }
    </style>
</head>

<body>
    <div class="container">
        <svg width="139" height="139" viewBox="0 0 139 139" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M133.812 69.4058C133.812 104.976 104.976 133.812 69.4059 133.812C33.8355 133.812 5 104.976 5 69.4058C5 33.8355 33.8355 5 69.4059 5C104.976 5 133.812 33.8355 133.812 69.4058Z"
                stroke="url(#paint0_linear_2974_62406)" stroke-width="10" />
            <path
                d="M89.9276 59.2559C84.2286 64.6355 78.8299 70.3246 73.7559 76.2974C71.245 79.3084 68.814 82.3852 66.4655 85.5246C65.2448 87.1394 64.2404 88.5475 62.938 90.4025L59.4923 95.3333L56.6328 99.548L55.7822 100.769L55.3593 101.379L55.1478 101.696L55.042 101.826C54.9892 101.826 54.9363 101.778 54.9075 101.72L49.8709 97.0009C49.102 96.232 43.5369 90.984 42.792 90.2728L41.7059 89.1578L40.9369 88.336C39.5048 86.7453 38.2312 85.2074 37.0922 83.7464C35.2012 81.3411 33.492 78.7982 31.9788 76.1388C29.5903 71.8183 30.2536 67.4739 31.1811 66.7818C32.1374 66.0658 34.3626 67.3105 38.0198 70.2805C39.8508 71.7703 42.0519 73.6446 44.6759 75.9033C46.0023 76.9894 52.2306 82.6892 53.7685 83.9867L54.0568 84.227C54.1385 84.3039 54.0857 84.251 54.1385 84.251H54.1914C54.2443 84.227 54.2731 84.227 54.2971 84.203C54.3519 84.1445 54.3813 84.0668 54.3788 83.9867H54.35C55.3592 82.5546 56.6857 80.6995 57.9063 79.1088C60.3714 75.798 62.9357 72.5622 65.5956 69.4058C70.915 63.1004 76.5954 57.1087 82.6083 51.4608C90.0862 45.1796 96.2617 41.2244 100.664 39.081C105.037 36.904 107.608 36.5099 108.3 37.4614C109.704 39.4511 102.889 46.0254 89.9276 59.2559Z"
                fill="url(#paint1_linear_2974_62406)" />
            <defs>
                <linearGradient id="paint0_linear_2974_62406" x1="77.1793" y1="-6.60723e-07" x2="76.3312" y2="138.807"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#65BEAC" stop-opacity="0.97" />
                    <stop offset="0.984375" stop-color="#3E8575" />
                </linearGradient>
                <linearGradient id="paint1_linear_2974_62406" x1="73.7848" y1="36.9746" x2="73.4559" y2="101.824"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="#65BEAC" stop-opacity="0.97" />
                    <stop offset="0.984375" stop-color="#3E8575" />
                </linearGradient>
            </defs>
        </svg>

        <h5>You have successfully verified your email</h5>
        <a href="https://business.justrentz.com/business/login">Click here to login</a>
    </div>
</body>

</html>